block modal 
  .modal.fade#editModal(tabindex=-1 aria-labelledby="editModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header 
          h1.modal-title.fs-5#editModalLabel Edit details
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="close")
        .modal-body
          form#update-form(action="/employees" method="POST") 
            input(type="hidden", name="id" id="empId") 
            .mb-3
              label.form-label(for="editname") Edit name 
              input.form-control(type="text", name="name" id="editname")
            .mb-3 
              label.form-label(for="editphone") Edit phone number 
              input.form-control(type="tel", name="phone" id="editphone")
            .mb-3 
              label.form-label(for="editdepartment") Department 
              input.form-control(type="text", name="department" id="editdepartment")
            .mb-3.d-flex.gap-3 
              input.form-check-input(type="checkbox", name="isActive",id="editIsActive")
              label.form-check-label(for="editIsActive") Active Employee?
            .modal-footer
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel 
              button.btn.btn-primary(type="submit") Update
