doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Layout Page
  link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
  script(src='/javascripts/fontawesome.js' crossorigin='anonymous')
main
  .d-flex
    .sticky-top.overflow-y-scroll(style='width: 220px; height: 100vh')
      nav.nav.nav-pills.d-flex.flex-column.gap-2.align-items-str.px-4.my-3
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='employees')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-user-tie
          span.fw-bold.fs-6 Employees
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='assets')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-boxes-packing
          span.fw-bold.fs-6 Assets
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='categories')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-list
          span.fw-bold.fs-6 Categories
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='stock')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-cart-shopping
          span.fw-bold.fs-6 Stock
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='issue')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-file-signature
          span.fw-bold.fs-6 Issue Asset
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='return')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-box-archive
          span.fw-bold.fs-6.text-nowrap Return Asset
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='scrap')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-trash
          span.fw-bold.fs-6 Scrap Asset
        a.nav-link.p-3.d-flex.flex-column.align-items-center.rounded-4(href='assets/history')
          span.visually-hidden(style='font-size: 40px; color: #fff;')
            i.fa-solid.fa-timeline
          span.fw-bold.fs-6 Asset History
    .flex-grow-1.bg-primary-subtle
      block content
script(src='/javascripts/layout.js')
