<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Layout Page</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <script src="/javascripts/fontawesome.js" crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <div class="d-flex">
      <div style="width: 220px; height: 100vh" class="sticky-top overflow-y-scroll">
        <nav class="nav nav-pills d-flex flex-column gap-2 align-items-str px-4 my-3">
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-user-tie"></i>
            </span>
            <span class="fw-bold fs-6">Employees</span>
          </a>
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-boxes-packing"></i>
            </span>
            <span class="fw-bold fs-6">Assets</span>
          </a>
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-list"></i>
            </span>
            <span class="fw-bold fs-6">Categories</span>
          </a>
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-cart-shopping"></i>
            </span>
            <span class="fw-bold fs-6">Stock</span>
          </a>
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-file-signature"></i>
            </span>
            <span class="fw-bold fs-6">Issue Asset</span>
          </a>
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-box-archive"></i>
            </span>
            <span class="fw-bold fs-6 text-nowrap">Return Asset</span>
          </a>
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-trash"></i>
            </span>
            <span class="fw-bold fs-6">Scrap Asset</span>
          </a>
          <a href="" class="nav-link p-3 d-flex flex-column align-items-center rounded-4">
            <span style="font-size: 40px; color: #fff;" class="visually-hidden">
              <i class="fa-solid fa-timeline"></i>
            </span>
            <span class="fw-bold fs-6">Asset History</span>
          </a>
        </nav>
      </div>
      <div class="flex-grow-1 bg-primary-subtle">Content area</div>
    </div>
  </main>
</body>
<script src="/javascripts/layout.js"></script>

</html>